@charset "UTF-8";
/* line 39, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
html {
  font-family: "Rasa", serif;
  color: #444;
  background-color: #EEE;
  box-sizing: border-box;
}

/* line 46, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 50, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body {
  padding: 0;
  margin: 0;
  background-color: #FFF;
}
/* line 55, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body.fullscreen {
  overflow: hidden;
}

/* line 65, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.title {
  text-align: center;
}
/* line 68, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.title img {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-bottom: 0.25em;
}
/* line 80, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.options li {
  position: relative;
  text-align: center;
  border: 0.1em solid rgba(68, 68, 68, 0.15);
  border-radius: 0.333rem;
  width: 17.5em;
  overflow: hidden;
}
/* line 88, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.options li img {
  margin: auto;
  padding: 1em;
}
/* line 93, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.options li p {
  margin-top: 0;
  padding: 0.5em;
  color: rgba(68, 68, 68, 0.6667);
}
/* line 99, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.options li a {
  display: block;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.0333em;
  font-size: 1.75em;
  margin: 0;
  padding: 0.5em;
  background-color: rgba(232, 63, 111, 0.667);
  background-color: #E83F6F;
  color: #FFF;
  text-decoration: none;
}
/* line 111, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.options li a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 121, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section.options li:hover a::after {
  background-color: rgba(68, 68, 68, 0.05);
}

/* line 128, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.row {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2em 5em;
}
/* line 133, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.row.center {
  text-align: center;
}

/* line 138, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#main-nav {
  padding: 0.5em;
  font-size: 1.5em;
}
/* line 142, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#main-nav h1 {
  margin: 0;
}
/* line 147, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#main-nav a {
  color: inherit;
  text-decoration: inherit;
}

/* line 153, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#banner {
  position: relative;
  height: 15em;
  padding: 1em;
  margin: 0 0 1em;
  background-color: #2274A5;
  background: url(/assets/wheel.jpg), linear-gradient(135deg, #2274A5 0%, #32936F 100%);
  color: #FFF;
  text-align: center;
  overflow: hidden;
  background-size: cover, 100% 100%;
  background-position: 50% 40%, 50%;
  background-blend-mode: soft-light;
}
/* line 168, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#banner h1 {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 4em;
  line-height: 0.975ch;
  text-shadow: 0 0 0.25em #444;
}
/* line 179, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body.application-home #banner {
  height: 30em;
  background-position: 50% 25%, 50%;
}

/* line 185, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body > footer {
  margin-top: 5em;
  background-color: #EEE;
}
/* line 189, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body > footer .row {
  padding: 2em 0 3em;
}
/* line 193, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body > footer .user-controls {
  float: left;
}
/* line 197, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body > footer a {
  color: #444;
}
/* line 202, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body > footer .copyright {
  float: right;
}

/* line 207, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
p {
  font-size: 1.25em;
  line-height: 1.4em;
}

/* line 212, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6, label, th, figcaption {
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.0333em;
  margin: 0 0 0.5em;
  font-weight: normal;
}

/* line 219, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
pre, code, .code {
  font-family: "Space Mono", monospace;
}

/* line 223, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
h2 {
  font-size: 3.5em;
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: #444 0.0225em;
}
/* line 228, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
h2 .subtitle {
  font-size: 0.75em;
}

/* line 233, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
section > h3,
section > .row > h3 {
  text-align: left;
  font-size: 2em;
  border-bottom: 0.01em solid rgba(68, 68, 68, 0.2);
}

/* line 240, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
th {
  text-align: left;
  vertical-align: top;
}

/* line 245, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
td {
  vertical-align: top;
}

/* line 249, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody {
  background-color: rgba(68, 68, 68, 0.05);
}
/* line 252, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody td, tbody th {
  border-top: 0.25em solid #FFF;
  padding: 0.5em;
}
/* line 258, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translation-list tbody tr {
  cursor: pointer;
}
/* line 261, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translation-list tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 269, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody tr:first-child td, tbody tr:first-child th {
  border-top: 0;
}
/* line 275, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody th {
  padding-right: 0;
  border-right: 0.125em solid rgba(255, 255, 255, 0.5);
}

/* line 281, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
table {
  width: 100%;
  border-collapse: collapse;
}
/* line 285, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
table ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 292, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
table li:before {
  content: '▪';
  margin-right: 0.5em;
}

/* line 300, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.inline, ul.block {
  margin-top: 0;
  padding: 0;
  list-style: none;
}
/* line 307, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.inline li {
  display: inline-block;
}

/* line 313, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.comments {
  background-color: #FFF;
  color: #444;
  margin-bottom: 1em;
  border-radius: 0.15rem;
}
/* line 319, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.comments li {
  border-bottom: 0.05em solid rgba(68, 68, 68, 0.25);
  padding: 0.5em;
  margin: 0.5em;
}
/* line 324, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.comments li header {
  text-align: right;
}
/* line 327, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.comments li header .user {
  float: left;
}

/* line 335, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#screenshots td:first-child {
  width: 66.667%;
}
/* line 339, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#screenshots th {
  font-size: 2em;
  text-align: center;
}

/* line 345, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
img {
  max-width: 100%;
}

/* line 349, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-elements {
  display: table;
  width: 100%;
}

/* line 354, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-element {
  display: table-row;
}

/* line 358, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-element label {
  display: table-cell;
  width: 1px;
  padding-right: 1em;
}

/* line 364, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-element input {
  display: table-cell;
  width: 100%;
}

/* line 369, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions {
  margin: 1em 0;
  text-align: right;
}
/* line 373, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions.flex {
  text-align: left;
  display: flex;
}
/* line 377, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions.flex .large {
  flex: 1;
}
/* line 382, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions .right {
  text-align: right;
}

/* line 387, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
form {
  max-width: 50em;
  margin: 0 auto;
}

/* line 392, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
a.button {
  background-color: #2274A5;
}

/* line 396, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button, .button {
  position: relative;
  display: inline-block;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5em;
  text-decoration: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 1em 2em;
  color: #FFF;
  background-color: #32936F;
  border-radius: 0.15rem;
  margin: 0.5em 0;
  letter-spacing: 0.0333em;
  box-shadow: inset 0 0 0.1em rgba(68, 68, 68, 0.5);
  overflow: hidden;
}
/* line 414, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button::after, .button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 150ms ease-in-out;
}
/* line 425, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button:hover::after, .button:hover::after {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 429, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button.var, .button.var {
  font-size: 0.9em;
  font-family: "Space Mono", monospace;
  background-color: #2274A5;
  -webkit-text-fill-color: currentColor;
  -webkit-text-stroke: transparent;
  color: #FFBF00;
  font-weight: bold;
}
/* line 439, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button.primary, .button.primary {
  background-color: #32936F;
}
/* line 443, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button:disabled, .button:disabled {
  background-color: #555;
  cursor: default;
}
/* line 447, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button:disabled::after, .button:disabled::after {
  display: none;
}
/* line 452, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button.small, .button.small {
  font-size: 1.125em;
}
/* line 456, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button.facebook, .button.facebook {
  background-color: #3A5795;
}

/* line 461, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.objects {
  display: flex;
  list-style: none;
}

/* line 466, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.apps img {
  background-color: #FFF;
  padding: 0.5em;
}

/* line 471, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
input {
  font-family: "Rasa", serif;
  font-size: 1.25em;
  padding: 0.333em 0.75em;
  margin-bottom: 0.5em;
  border: 0.333em solid rgba(68, 68, 68, 0.075);
  border-radius: 2rem;
}
/* line 479, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
input.big {
  font-size: 1.5em;
}

/* line 484, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
textarea {
  display: block;
  width: 100%;
  min-height: 5em;
  font-family: "Rasa", serif;
  font-size: 1.5em;
  color: #444;
  padding: 0.5em;
  outline: none;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 496, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
textarea:focus {
  background-color: #FFF;
}

/* line 501, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.select-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* line 507, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.select-list li {
  flex: 1;
  margin: 0.5em;
  width: auto;
}
/* line 513, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.select-list.inactive li {
  overflow: visible;
}
/* line 517, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.select-list h3 {
  margin: 1em 0;
  font-size: 2em;
}
/* line 522, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.select-list a {
  white-space: nowrap;
  background-color: #E83F6F;
  height: 2.475em;
  border-radius: inherit;
}
/* line 528, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.select-list a .stats {
  position: relative;
  font-family: "Space Mono", monospace;
}
/* line 533, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.select-list a .stat-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.475em;
  background-color: #32936F;
}

/* line 543, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4em;
}
/* line 550, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots li {
  position: relative;
  width: 20em;
  overflow: hidden;
  border-radius: 0.333rem;
  border: 0.05em solid rgba(68, 68, 68, 0.1);
  margin: 0.5em;
}
/* line 559, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots li:hover img {
  object-position: right bottom;
}
/* line 564, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots li a {
  display: block;
  text-align: center;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.0333em;
  font-size: 1.75em;
  margin: 0;
  padding: 0.5em;
  text-decoration: none;
  color: #444;
}
/* line 575, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots li a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 586, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll {
  display: block;
  white-space: nowrap;
  overflow: auto;
  padding: 0;
  margin-bottom: 0;
}
/* line 593, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll .screenshot {
  height: 10em;
}
/* line 596, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll .screenshot::after {
  background-color: #32936F;
}
/* line 601, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll li {
  width: 11em;
  display: inline-block;
  opacity: 0.5;
}
/* line 606, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll li.highlight {
  opacity: 1;
}
/* line 609, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll li.highlight .screenshot::after {
  background-color: #2274A5;
}
/* line 614, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll li a {
  font-size: 1.25em;
}
/* line 617, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll li a h3, .screenshots.scroll li a h4 {
  margin-bottom: 0;
}
/* line 622, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll li:hover {
  opacity: 1;
}

/* line 629, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot {
  position: relative;
  background-color: #888;
  overflow: hidden;
  margin: 0;
  height: 15em;
}
/* line 636, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2274A5;
  opacity: 0.3333;
}
/* line 647, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  transition: object-position 250ms linear;
}

/* line 690, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
a.screenshot {
  display: inline-block;
  width: 10em;
  height: 8em;
  box-shadow: 0 0 1.5em -0.5em #444;
}

/* line 697, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.no-value {
  color: #888;
}

/* line 701, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.variable, .formatter {
  font-family: "Space Mono", monospace;
  background-color: transparent;
  border: 0;
  color: #E83F6F;
  padding: 0;
  margin: 0;
  font-size: 1em;
  border-radius: 0;
  cursor: default;
}

/* line 713, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.formatter {
  background-color: #2274a5;
}

/* line 717, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.example {
  color: #888;
  font-style: italic;
}

/* line 722, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part {
  font-size: 0.8em;
  opacity: 0.5;
}
/* line 726, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part .indent {
  position: relative;
  white-space: pre;
}
/* line 730, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part .indent::after {
  content: '└';
  position: absolute;
  right: 0.5em;
  opacity: 0.5;
}
/* line 738, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part:first-child {
  font-weight: bold;
}
/* line 742, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part:last-child {
  opacity: 1;
}
/* line 746, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translation-list tr:hover .key-part {
  opacity: 1;
}

/* line 751, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(68, 68, 68, 0.5);
}
/* line 762, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator.open {
  display: block;
  display: flex;
}
/* line 767, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .translation-form {
  background-color: #444;
  width: 100%;
  padding: 1em 1em 0;
  color: #FFF;
}
/* line 774, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator form {
  max-width: none;
  margin: 0;
}
/* line 779, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .input {
  max-height: 15em;
  background-color: #515151;
  font-family: "Space Mono", monospace;
  padding: 1em;
  outline: 0;
  overflow: auto;
  clear: both;
  color: #FFBF00;
}
/* line 790, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator h4 {
  display: inline-block;
  margin-right: 0.5em;
}
/* line 795, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: #444;
  color: #FFF;
}
/* line 806, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: auto;
  background-color: #FFF;
}
/* line 813, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo iframe.mobile {
  width: 480px;
}
/* line 818, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo.open {
  display: block;
  display: flex;
  flex-direction: column;
}

/* line 826, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg {
  position: relative;
  flex: 1;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  box-shadow: 0 0 1.5em -0.5em #444;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #444;
}
/* line 837, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .dlg-inner {
  background-color: #FFF;
  transition: opacity 150ms ease-in-out;
}
/* line 842, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg h1 {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0 0 0.333em rgba(68, 68, 68, 0.5);
  margin: 0;
  padding: 0.5em 0;
}
/* line 850, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header {
  background-color: #2274A5;
  color: #FFF;
  padding: 0 3.5em;
}
/* line 856, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close {
  position: absolute;
  top: 0;
  right: 0.2em;
}
/* line 862, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close,
.dlg .exit-demo {
  color: inherit;
  font-size: 4.5em;
  line-height: 0.9em;
  text-decoration: none;
}
/* line 869, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close:active, .dlg header .close:focus, .dlg header .close:visited,
.dlg .exit-demo:active,
.dlg .exit-demo:focus,
.dlg .exit-demo:visited {
  color: inherit;
}
/* line 873, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close:hover,
.dlg .exit-demo:hover {
  color: #888;
}
/* line 878, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .mobile-toggle {
  width: 0.65em;
  height: 1em;
  font-size: 2em;
  border-style: solid;
  border-width: 0.15em 0.05em 0.2em;
  border-radius: 0.125em;
}
/* line 887, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .exit-demo,
.dlg .mobile-toggle {
  display: inline-block;
  color: #FFF;
  margin-left: 0.15em;
  color: inherit;
}
/* line 894, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .exit-demo:hover,
.dlg .mobile-toggle:hover {
  color: #888;
}
/* line 899, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .buttons {
  float: right;
}
/* line 903, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .controls {
  padding: 1em;
}
/* line 908, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .details h3, .dlg .details h4 {
  display: inline-block;
  margin: 0.25em 0.5em 0.25em 0;
}
/* line 913, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .details .title, .dlg .details .description {
  font-size: 1.25em;
}
/* line 918, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .content {
  padding: 1em;
}
/* line 922, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.working .dlg {
  pointer-events: none;
}
/* line 925, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.working .dlg .dlg-inner {
  opacity: 0.5;
}

/* line 931, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.float-right {
  float: right;
}

/* line 937, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #888;
}
/* line 943, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview h2 {
  font-size: 1.5em;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;
  text-align: center;
}
/* line 950, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .preview {
  display: inline-block;
  position: absolute;
  height: 100%;
  margin: 0 30em 0 0;
  overflow: auto;
}
/* line 957, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .preview img {
  display: block;
}
/* line 962, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .toolbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 30em;
  height: 100%;
  color: #FFF;
  background-color: #444;
  overflow: auto;
}
/* line 972, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .toolbar #toolbar-header {
  display: flex;
  align-items: stretch;
  background-color: #2274A5;
}
/* line 977, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .toolbar #toolbar-header a.button {
  margin: 0;
  font-size: 1em;
  border-radius: 0;
  color: transparent;
  width: 2em;
}
/* line 984, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .toolbar #toolbar-header a.button::before {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0.1em solid #FFF;
  border-width: 0.1em 0 0 0.1em;
  transform: rotate(-45deg);
}
/* line 999, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .toolbar #toolbar-header a.button:last-child::before {
  border-width: 0 0.1em 0.1em 0;
}
/* line 1005, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#page-preview .toolbar section {
  padding: 1em;
}

/* line 1011, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.flex {
  display: flex;
  align-items: baseline;
}
/* line 1015, C:/Users/goodg/Code/bikecollectives/devo/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.flex .stretch {
  flex: 1;
  margin-right: 1em;
}
