@charset "UTF-8";
/* line 37, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
html {
  font-family: "Rasa", serif;
  color: #444;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

/* line 44, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 48, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body {
  padding: 0;
  margin: 0;
}
/* line 52, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body.fullscreen {
  overflow: hidden;
}

/* line 57, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
main {
  padding: 0 2em 5em;
}

/* line 61, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.row {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 66, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body > header {
  position: relative;
  height: 30em;
  padding: 1em;
  margin: 0 0 4em;
  background-color: #2274A5;
  background: url(/assets/wheel.jpg), linear-gradient(135deg, #2274A5 0%, #32936F 100%);
  color: #FFFFFF;
  text-align: center;
  overflow: hidden;
  background-size: cover, 100% 100%;
  background-position: 50% 25%, 50%;
  background-blend-mode: soft-light;
}
/* line 82, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
body > header h1 {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 4em;
  line-height: 0.975ch;
  text-shadow: 0 0 0.25em #444;
}

/* line 94, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
p {
  font-size: 1.25em;
  line-height: 1.4em;
}

/* line 99, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6, label, th, button, figcaption {
  font-family: "Alfa Slab One", cursive;
  margin: 0 0 1em;
  font-weight: normal;
  letter-spacing: 0.0333em;
}

/* line 106, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
pre, code, .code {
  font-family: "Space Mono", monospace;
}

/* line 110, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
th {
  text-align: left;
  vertical-align: top;
}

/* line 115, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
td {
  vertical-align: top;
}

/* line 119, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody {
  background-color: #FFF;
}
/* line 122, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody td, tbody th {
  border-top: 0.25em solid #FFFFFF;
  padding: 0.5em;
}
/* line 127, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody tr {
  cursor: pointer;
}
/* line 130, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 135, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody tr:first-child td, tbody tr:first-child th {
  border-top: 0;
}
/* line 141, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
tbody th {
  padding-right: 0;
  border-right: 0.125em solid rgba(255, 255, 255, 0.5);
}

/* line 147, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
table {
  width: 100%;
  border-collapse: collapse;
}
/* line 151, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
table ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 158, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
table li:before {
  content: '▪';
  margin-right: 0.5em;
}

/* line 165, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-elements {
  display: table;
  width: 100%;
}

/* line 170, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-element {
  display: table-row;
}

/* line 174, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-element label {
  display: table-cell;
  width: 1px;
  padding-right: 1em;
}

/* line 180, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.form-element input {
  display: table-cell;
  width: 100%;
}

/* line 185, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions {
  margin-top: 1em;
  text-align: right;
}
/* line 189, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions.flex {
  text-align: left;
  display: flex;
}
/* line 193, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions.flex .large {
  flex: 1;
}
/* line 198, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.actions .right {
  text-align: right;
}

/* line 203, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
form {
  max-width: 50em;
  margin: 0 auto;
}

/* line 208, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button, .button {
  position: relative;
  text-decoration: none;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.25em 1em;
  background-color: #32936F;
  color: #FFF;
  border-bottom: 0.15em solid rgba(255, 255, 255, 0.5);
  border-radius: 0.1em;
  box-shadow: 0 0 2em -0.75em #000;
  text-shadow: 0 0 0.5em rgba(68, 68, 68, 0.3333);
  transition: background-color 150ms ease-in-out;
}
/* line 224, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button::after, .button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 150ms ease-in-out;
}
/* line 235, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button:hover::after, .button:hover::after {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 239, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button.var, .button.var {
  font-size: 0.9em;
  font-family: "Space Mono", monospace;
  background-color: #2274A5;
}
/* line 245, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button:disabled, .button:disabled {
  background-color: #555;
}
/* line 248, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
button:disabled::after, .button:disabled::after {
  display: none;
}

/* line 254, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
ul.objects {
  display: flex;
  list-style: none;
}

/* line 259, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.apps img {
  background-color: #FFF;
  padding: 0.5em;
}

/* line 264, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
input {
  font-family: "Rasa", serif;
  font-size: 1.25em;
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  box-shadow: 0 0 0.5em -0.25em #000;
}

/* line 273, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
/* line 279, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list li {
  flex: 1;
  margin: 0.5em;
  text-align: center;
}
/* line 285, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list a {
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  color: #FFF;
  background-color: #444;
  box-shadow: 0 0 0.5em -0.25em #444;
  padding: 0.25em 0.5em;
  -webkit-text-stroke: 0.025em rgba(0, 0, 0, 0.5);
  text-stroke: 0.025em rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
/* line 297, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list a:hover {
  box-shadow: 0 0 1em -0.25em #444;
}
/* line 301, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list a .title {
  font-family: "Alfa Slab One", cursive;
}
/* line 305, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list a .stats {
  font-family: "Space Mono", monospace;
  font-size: 1.333em;
}
/* line 311, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list.active a, .select-list li.active a {
  background-color: #32936F;
}
/* line 315, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.select-list.inactive a, .select-list li.inactive a {
  background-color: #E83F6F;
}

/* line 320, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 326, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots li {
  width: 22em;
}
/* line 331, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll {
  display: block;
  white-space: nowrap;
  overflow: auto;
  padding: 0;
}
/* line 337, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshots.scroll li {
  width: 11em;
  display: inline-block;
}

/* line 344, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot {
  width: 20em;
  height: 20em;
  position: relative;
  background-color: #888;
  overflow: hidden;
  margin: 0.5em;
}
/* line 352, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  transition: object-position 250ms linear;
}
/* line 365, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot figcaption, .screenshot .page-name {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  background-color: #444;
  color: #FFF;
  font-size: 1.5em;
  box-shadow: 0 0 1.5em -0.5em #444;
  transition: opacity 150ms ease-in-out;
}
/* line 380, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot .page-name {
  top: auto;
  bottom: 0;
  font-size: 0.85em;
}
/* line 385, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot .page-name .group, .screenshot .page-name .page {
  margin: 0;
}
/* line 390, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
/* line 400, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot:hover img {
  object-position: right bottom;
}
/* line 404, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot:hover figcaption, .screenshot:hover .page-name {
  opacity: 0.333;
}
/* line 409, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.screenshot:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #E83F6F;
  opacity: 0.5;
}

/* line 422, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
a.screenshot {
  display: inline-block;
  width: 10em;
  height: 8em;
  box-shadow: 0 0 1.5em -0.5em #444;
}

/* line 429, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.no-value {
  color: #888;
}

/* line 433, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.variable, .formatter {
  font-family: "Space Mono", monospace;
  background-color: rgba(68, 68, 68, 0.5);
  color: #FFFFFF;
  padding: 0.1em 0.333em;
  font-size: 0.8em;
  border-radius: 0.25em;
  cursor: default;
}

/* line 443, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.formatter {
  background-color: #2274a5;
}

/* line 447, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.example {
  color: #888;
  font-style: italic;
}

/* line 452, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part {
  font-size: 0.8em;
  opacity: 0.5;
}
/* line 456, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part .indent {
  position: relative;
  white-space: pre;
}
/* line 460, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part .indent::after {
  content: '└';
  position: absolute;
  right: 0.5em;
  opacity: 0.5;
}
/* line 468, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part:first-child {
  font-weight: bold;
}
/* line 472, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.key-part:last-child {
  opacity: 1;
}
/* line 476, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translation-list tr:hover .key-part {
  opacity: 1;
}

/* line 481, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(68, 68, 68, 0.5);
}
/* line 492, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator.open {
  display: block;
  display: flex;
}
/* line 497, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .translation-form {
  background-color: #444;
  width: 100%;
  padding: 1em 1em 0;
  color: #FFFFFF;
}
/* line 504, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator form {
  max-width: none;
  margin: 0;
}
/* line 509, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .input {
  max-height: 15em;
  background-color: #515151;
  font-family: "Space Mono", monospace;
  padding: 1em;
  outline: 0;
  overflow: auto;
  clear: both;
}
/* line 519, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator h4 {
  display: inline-block;
  margin-right: 0.5em;
}
/* line 524, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: #444;
  color: #FFFFFF;
}
/* line 535, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: auto;
}
/* line 541, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo iframe.mobile {
  width: 480px;
}
/* line 546, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
#translator .demo.open {
  display: block;
  display: flex;
  flex-direction: column;
}

/* line 554, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg {
  position: relative;
  flex: 1;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  box-shadow: 0 0 1.5em -0.5em #444;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #444;
}
/* line 565, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .dlg-inner {
  background-color: #FFF;
  transition: opacity 150ms ease-in-out;
}
/* line 570, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg h1 {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0 0 0.333em rgba(68, 68, 68, 0.5);
  margin: 0;
  padding: 0.5em 0;
}
/* line 578, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header {
  background-color: #E83F6F;
  color: #FFF;
  padding: 0 3.5em;
}
/* line 584, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close {
  position: absolute;
  top: 0;
  right: 0.2em;
}
/* line 590, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close,
.dlg .exit-demo {
  color: inherit;
  font-size: 4.5em;
  line-height: 0.9em;
  text-decoration: none;
}
/* line 597, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close:active, .dlg header .close:focus, .dlg header .close:visited,
.dlg .exit-demo:active,
.dlg .exit-demo:focus,
.dlg .exit-demo:visited {
  color: inherit;
}
/* line 601, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg header .close:hover,
.dlg .exit-demo:hover {
  color: #888;
}
/* line 606, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .mobile-toggle {
  width: 0.65em;
  height: 1em;
  font-size: 2em;
  border-style: solid;
  border-width: 0.15em 0.05em 0.2em;
  border-radius: 0.125em;
}
/* line 615, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .exit-demo,
.dlg .mobile-toggle {
  display: inline-block;
  color: #FFF;
  margin-left: 0.15em;
  color: inherit;
}
/* line 622, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .exit-demo:hover,
.dlg .mobile-toggle:hover {
  color: #888;
}
/* line 627, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .buttons {
  float: right;
}
/* line 631, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .controls {
  padding: 1em;
}
/* line 636, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .details h3, .dlg .details h4 {
  display: inline-block;
  margin: 0.25em 0.5em 0.25em 0;
}
/* line 641, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .details .title, .dlg .details .description {
  font-size: 1.25em;
}
/* line 646, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.dlg .content {
  padding: 1em;
}
/* line 650, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.working .dlg {
  pointer-events: none;
}
/* line 653, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.working .dlg .dlg-inner {
  opacity: 0.5;
}

/* line 659, C:/Users/Godwin/Code/bikecollectives_workbench/app/assets/stylesheets/application.scss */
.float-right {
  float: right;
}
