%h3 Page Groups
%p By selecting a page group you will gain access to individual pages where you will be able to view previews of each page on the site and translations that exist on that page.

%h3 Translations
%p Under "Translations" you will see a link to edit all enabled languages on the site.
%h4 Translation percentage
%p The percentage that is displayed below each translation shows how much of the locale has been translated, ideally each percentage should be 100% before new translations are move to the production site.
%h4 Enabling new locales
%p If a locale is not listed, please contact the site administrator.
