%h3 Rendering
%p The rendering displayed is a screenshot taken during testing. The page will not necessarily look the same in your browser.

%h3 Side Panel
%p Use the left and right arrows to navigate to other previews.

%h4 Translations
%p The translation buttons will bring you to a page to view and edit the translations displayed on the page.

%h4 Discussion
%p If you feel that the page could be improved in any way you can comment on the page. Others who are following will get notified.

%p We hope to extend this feature to allow for sub-comments, adding an indicator to show where on the page you're comments are about, and the ability to resolve threads.

%h5 Follow discussion
%p If you check the "Follow discussion" check box you will get notified when anyone comments. You will automatically follow the discussion after commenting.
