%h3 Notifications
%p If you select the option to get notified when new translations are added you will get occasional emails to let you know that we need new translations before adding new features to the site.

%h3 Translation List
%p The translation table shows the internal key as the first column and the current translation on the right. Click on any row to open the editor for that translation.

%h3 Translation Editor
%figure=image_tag(:editor)

%h4 Header
%p The header displays the current translation key but also allow you to close the editor and navigate to the next and previous translations.

%h4 Previews
%p Click on a preview to see the translation on a page. Once the page opens you should see the translation highlighted as well as the page title and description. If you don't see the translation, it may not be visible on the page, you may need to click on a link to reveal it or view the mobile page by clicking the phone icon at the top right of the page. Close the preview by clicking the X at the top right.

%figure=image_tag(:preview)

%h4 Demo
%p The demo shows a live preview of text that was used during testing. Normally this will reflect exactly the text that you input but if a variable is present the replacement will be made.

%h4 Default
%p Some translations come with a suggested English translation, you may use this to better understand what an appropriate translation would be.

%h4 Context
%p Some translations come with a context to give you a better idea of what sort of text should be used. This may be 'title', 'sentence', or 'paragraph'.

%h4 English translation
%p When translating languages other than English, if an English translation exists, the English translation will be displayed to give you a better idea of what an appropriate translation should be.

%h4 Editor
%p
  Use the editor to input your translation. Some translations have replacement variables. Like in the example above, you can use the
  %code conference title
  button to insert the variable. Look at the demo to get an example of what te translation will look like live.

%figure=image_tag('editor-with-dates')

%p For translations with dates or times like the one above, you can create a date or time format by inserting portions of the date by selecting the format wanted using the drop down and then clicking the button area above to make the insertion.

%h4 Watching translations
%p After saving a translation you will automatically get email updates when another user changes the translation. You can use the check box to subscribe without saving a translation, or unsubscribe after saving if you don't wish to get notifications.
