$colour-1: #FFBF00;
$colour-2: #E83F6F;
$colour-3: #2274A5;
$colour-4: #32936F;
$colour-5: #FFF;

$green: $colour-4;
$yellow: $colour-1;
$orange: $colour-1;
$red: $colour-2;
$blue: $colour-3;

$white: $colour-5;
$black: #444;
$gray: #EEE;
$mid-gray: #888;

$success: $green;
$warning: $yellow;
$error: $red;

$title: 'Roboto', sans-serif;
$title-weight: 900;
$paragraph: 'Roboto', serif;
$paragraph-weight: 300;
$monospace: 'Space Mono', monospace;
