.row
  %h2 Confirmation Sent
  %p Go to your inbox! You should see an email from us in just a few moments. There will be a link in the email for you to click on. Check your spam box if you do not see it. If you encounter any problems, please contact us.
